:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 16rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navigation-items {
  list-style: none;
  padding: 0;
}


.no-conversation {
  align-items: center;
  justify-content: center;
  img {
    max-width: 40%;
  }
}
