<div class="page" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" class="container login-container">
    <h1 class="text-center display-4" class="text-center">Sign in</h1>
    <h2 class="text-center mat-h2">Continue to Spectra</h2>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <a mat-button color="primary" routerLink="/sign-up">Don't have an account?</a>
      </div>
      <div>
        <button mat-raised-button color="primary">Sign in</button>
      </div>
    </div>
  </div>
</div>
