.page {
    padding: 1rem;
}

app-chat-input {
    padding: 1rem;
}

.message-list {
    flex-grow: 1;
}

.notif {
    background: #fff5bf;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-align: center;
}
